{{ ansible_managed | comment }}
# This file controls the configuration of the audit daemon
#

local_events = {{ auditd_conf_local_events }}
write_logs = {{ auditd_conf_write_logs }}
log_file = {{ auditd_conf_log_file }}
log_group = {{ auditd_conf_log_group }}
log_format = {{ auditd_conf_log_format }}
flush = {{ auditd_conf_flush }}
freq = {{ auditd_conf_freq }}
max_log_file = {{ auditd_conf_max_log_file }}
num_logs = {{ auditd_conf_num_logs }}
priority_boost = {{ auditd_conf_priority_boost }}
name_format = {{ auditd_conf_name_format }}
{% if auditd_conf_name is defined and auditd_conf_name | length > 0 -%}
name = {{ auditd_conf_name }}
{% else %}
##name = mydomain
{% endif %}
max_log_file_action = {{ auditd_conf_max_log_file_action }}
space_left = {{ auditd_conf_space_left }}
space_left_action = {{ auditd_conf_space_left_action }}
verify_email = {{ auditd_conf_verify_email }}
action_mail_acct = {{ auditd_conf_action_mail_acct }}
admin_space_left = {{ auditd_conf_admin_space_left }}
admin_space_left_action = {{ auditd_conf_admin_space_left_action }}
disk_full_action = {{ auditd_conf_disk_full_action }}
disk_error_action = {{ auditd_conf_disk_error_action }}
use_libwrap = {{ auditd_conf_use_libwrap }}
{% if auditd_conf_tcp_listen_port is defined and auditd_conf_tcp_listen_port | length > 0 -%}
tcp_listen_port = {{ auditd_conf_tcp_listen_port }}
{% else %}
##tcp_listen_port = 60
{% endif %}
tcp_listen_queue = {{ auditd_conf_tcp_listen_queue }}
tcp_max_per_addr = {{ auditd_conf_tcp_max_per_addr }}
{% if auditd_conf_tcp_client_ports is defined and auditd_conf_tcp_client_ports | length > 0 -%}
tcp_client_ports = {{ auditd_conf_tcp_client_ports }}
{% else %}
##tcp_client_ports = 1024-65535
{% endif %}
tcp_client_max_idle = {{ auditd_conf_tcp_client_max_idle }}
transport = {{ auditd_conf_transport }}
krb5_principal = {{ auditd_conf_krb5_principal }}
{% if auditd_conf_krb5_key_file is defined and auditd_conf_krb5_key_file | length > 0 -%}
krb5_key_file = {{ auditd_conf_krb5_key_file }}
{% else %}
##krb5_key_file = /etc/audit/audit.key
{% endif %}
distribute_network = {{ auditd_conf_distribute_network }}
q_depth = {{ auditd_conf_q_depth }}
overflow_action = {{ auditd_conf_overflow_action }}
max_restarts = {{ auditd_conf_max_restarts }}
plugin_dir = {{ auditd_conf_plugin_dir }}
