{{ ansible_managed | comment }}
# This file controls the configuration of the audit remote 
# logging subsystem, audisp-remote.
#

remote_server = {{ auditd_audisp_remote_conf_remote_server }}
port = {{ auditd_audisp_remote_conf_port }}
{% if auditd_audisp_remote_conf_local_port is defined and auditd_audisp_remote_conf_local_port | length > 0 -%}
local_port = {{ auditd_audisp_remote_conf_local_port }}
{% else %}
##local_port =
{% endif %}
transport = {{ auditd_audisp_remote_conf_transport }}
queue_file = {{ auditd_audisp_remote_conf_queue_file }}
mode = {{ auditd_audisp_remote_conf_mode }}
queue_depth = {{ auditd_audisp_remote_conf_queue_depth }}
format = {{ auditd_audisp_remote_conf_format }}
network_retry_time = {{ auditd_audisp_remote_conf_network_retry_time }}
max_tries_per_record = {{ auditd_audisp_remote_conf_max_tries_per_record }}
max_time_per_record = {{ auditd_audisp_remote_conf_max_time_per_record }}
heartbeat_timeout = {{ auditd_audisp_remote_conf_heartbeat_timeout }} 

network_failure_action = {{ auditd_audisp_remote_conf_network_failure_action }}
disk_low_action = {{ auditd_audisp_remote_conf_disk_low_action }}
disk_full_action = {{ auditd_audisp_remote_conf_disk_full_action }}
disk_error_action = {{ auditd_audisp_remote_conf_disk_error_action }}
remote_ending_action = {{ auditd_audisp_remote_conf_remote_ending_action }}
generic_error_action = {{ auditd_audisp_remote_conf_generic_error_action }}
generic_warning_action = {{ auditd_audisp_remote_conf_generic_warning_action }}
queue_error_action = {{ auditd_audisp_remote_conf_queue_error_action }}
overflow_action = {{ auditd_audisp_remote_conf_overflow_action }}

{% if auditd_audisp_remote_conf_enable_krb5 is defined and auditd_audisp_remote_conf_enable_krb5 | length > 0 -%}
enable_krb5 = {{ auditd_audisp_remote_conf_enable_krb5 }}
{% else %}
##enable_krb5 = no
{% endif %}
{% if auditd_audisp_remote_conf_krb5_principal is defined and auditd_audisp_remote_conf_krb5_principal | length > 0 -%}
krb5_principal = {{ auditd_audisp_remote_conf_krb5_principal }}
{% else %}
##krb5_principal = 
{% endif %}
{% if auditd_audisp_remote_conf_krb5_client_name is defined and auditd_audisp_remote_conf_krb5_client_name | length > 0 -%}
krb5_client_name = {{ auditd_audisp_remote_conf_krb5_client_name }}
{% else %}
##krb5_client_name = auditd
{% endif %}
{% if auditd_audisp_remote_conf_krb5_key_file is defined and auditd_audisp_remote_conf_krb5_key_file | length > 0 -%}
krb5_key_file = {{ auditd_audisp_remote_conf_krb5_key_file }}
{% else %}
##krb5_key_file = /etc/audisp/audisp-remote.key
{% endif %}



