# This file controls the configuration of the syslog plugin.
# It simply takes events and writes them to syslog. The
# arguments provided can be the default priority that you
# want the events written with. And optionally, you can give
# a second argument indicating the facility that you want events
# logged to. Valid options are LOG_LOCAL0 through 7, LOG_AUTH,
# LOG_AUTHPRIV, LOG_DAEMON, LOG_SYSLOG, and LOG_USER.

active = {{ auditd_audispd_syslog_conf_active }}
direction = {{ auditd_audispd_syslog_conf_direction }}
path = {{ auditd_audispd_syslog_conf_path_rhel8 }}
type = {{ auditd_audispd_syslog_conf_type_rhel8 }} 
args = {{ auditd_audispd_syslog_conf_args }}
format = {{ auditd_audispd_syslog_conf_format }}
